services:
  postgres:
    image: postgres
    ports:
      - 5432:5432 # LOCALPORT:DOCKERPORT
    environment:
      - POSTGRES_PASSWORD=postgrespw
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: